@model QLRCP.Models.GioChieu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="margin-top: 130px; margin-left: 70px; font-family: avantgarde-demi; font-weight: bold">XÓA GIỜ CHIẾU</h2>

<h3>Bạn có chắc chắn muốn xóa giờ chiếu này không?</h3>
<div>
    @*<h4>GioChieu</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Giờ Chiếu:
            @*@Html.DisplayNameFor(model => model.GioChieu1)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioChieu1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Quay về danh sách giờ chiếu", "ListGioChieu", "GioChieu")
        </div>
    }
</div>
