@{
    ViewBag.Title = "GIỚI THIỆU";
}
@*<h2 style="margin-top: 110px; text-align: center ;font-family: avantgarde-demi; font-weight: bold ">@ViewBag.Title</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div style="margin-top: 58px">
    <div>
        <br />
        <img src="~/Content/images/about.png" alt="hinh thumbnail" width="1150px" height="640px" />
        <img src="~/Content/images/about1.png" alt="hinh thumbnail" width="1150px" height="640px" />
        <img src="~/Content/images/about2.png" alt="hinh thumbnail" width="1150px" height="190px" />

    </div>
</div>
