@{
    ViewBag.Title = "LIÊN HỆ";
}
@*<h3>@ViewBag.Message</h3>*@

<div style="margin-top: 75px; background-image: url(../Content/images/nenlienhe.jpg)">
    <br />
    <h2 style=" text-align: center; color:white ;font-family: avantgarde-demi; font-weight: bold">@ViewBag.Title</h2>
    <br />
    <div style=" text-align: center; color:white ;font-family: avantgarde-demi; font-weight: bold">
        <h2>DT CINEMAS</h2>
        <br />
        <br />
        <br />
        <h3>Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM</h3>
        <h3>Hotline: +84 (28) 7300 7279</h3>
        <h3><a href="https://www.facebook.com/CinestarVietNam/">https://www.facebook.com/CinestarVietNam/</a></h3>
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>
</div>