
@{
    ViewBag.Title = "XacnhanDonhang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2 style="margin-top: 110px; text-align: center ;font-family: avantgarde-demi; font-weight: bold ">Đơn hàng đã được xác nhận</h2>
<h3 style="text-align: center ;font-family: avantgarde-demi; font-weight: bold ">Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
<p style="text-align: center; font-family: avantgarde-demi; font-weight: bold; font-size: 17px">
@Html.ActionLink("Về trang chủ", "Index", "Home")
</p>